Repository huijiewei/resolid-mix: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx --no eslint --fix {staged_files}

prettier:
  run: npx --no prettier --write {staged_files}

feat(website): add some components document
  package.json
  pnpm-lock.yaml
  website/app/assets/icons/common.svg
  website/app/components/BlurhashCanvas.tsx
  website/app/components/ClipboardCopyButton.tsx
  website/app/components/SpriteIcon.tsx
  website/app/extensions/mdx/components.tsx
  website/app/extensions/utils/react.ts
  website/app/root.css
  website/app/root.tsx
  website/app/routes/_site+/ui+/_mdx+/components+/button.mdx
  website/app/routes/_site+/ui+/_mdx+/components+/image.mdx
  website/app/routes/_site+/ui+/_mdx+/components+/typography.mdx
  website/package.json
  website/vite.config.ts
Due: eslint, prettier

chore(website): change postcss.config file name
  website/postcss.config.js
  website/tsconfig.json
Due: eslint, prettier

refactor(website): optimize some components
  website/app/components/BlurhashCanvas.tsx
  website/app/components/ClipboardCopyButton.tsx
  website/app/extensions/mdx/components.tsx
  website/app/extensions/utils/react.ts
Due: eslint, prettier

feat(website): add avatar document
  website/app/routes/_site+/ui+/_mdx+/components+/avatar.mdx
Due: none

chore: dependencies update
  package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(website): update document
  website/app/components/BlurhashCanvas.tsx
  website/app/routes/_site+/ui+/_mdx+/components+/avatar.mdx
  website/app/routes/_site+/ui+/_mdx+/components+/button.mdx
  website/app/routes/_site+/ui+/_mdx+/components+/image.mdx
Due: eslint, prettier

chore(website): upgrade hono to 4.0.0
  pnpm-lock.yaml
  website/misc/base/remix.ts
  website/misc/node-hono/entry.ts
  website/misc/vercel-serverless/entry.ts
  website/package.json
Due: eslint, prettier

refactor(website): use maximum-scale=1 viewport to preventing iPhone textbox auto zooming
  website/app/root.tsx
Due: eslint, prettier

chore: dependencies update
  pnpm-lock.yaml
  website/package.json
Due: prettier

chore(website): add Modal component document
  website/app/routes/_site+/ui+/_mdx+/components+/__FormExample.tsx
  website/app/routes/_site+/ui+/_mdx+/components+/modal.demo.tsx
  website/app/routes/_site+/ui+/_mdx+/components+/modal.mdx
  website/vite.config.ts
Due: eslint, prettier

chore: dependencies update
  packages/tailwind/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(website): optimize password hash and verify
  website/app/routes/_site+/_land+/login.tsx
  website/app/routes/_site+/_land+/signup.tsx
Due: eslint, prettier

refactor(ui): add 'decoding' attribute to Image component
  packages/ui/src/components/image/Image.tsx
Due: eslint, prettier

chore: update vite config and react version
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  website/env.d.ts
  website/misc/vite-split-chunk/splitChunk.ts
  website/package.json
  website/postcss.config.js
  website/vite.config.ts
Due: eslint, prettier

chore: dependencies update
  .github/workflows/deploy.yml
  pnpm-lock.yaml
  website/package.json
Due: prettier

refactor(website): reduce auth feature
  website/app/extensions/auth/AuthContext.ts
  website/app/extensions/auth/AuthForgotPasswordForm.tsx
  website/app/extensions/auth/AuthLoginForm.tsx
  website/app/extensions/auth/AuthModal.tsx
  website/app/extensions/auth/AuthModalContext.ts
  website/app/extensions/auth/AuthProvider.tsx
  website/app/extensions/auth/AuthSignupForm.tsx
  website/app/extensions/auth/AuthUserContext.ts
  website/app/extensions/auth/AuthUserProvider.tsx
  website/app/extensions/auth/useAuth.ts
  website/app/root.tsx
  website/app/routes/_site+/_land+/login.tsx
  website/app/routes/_site+/_land+/signup.tsx
  website/app/routes/_site+/_layout.tsx
Due: eslint, prettier

chore: dependencies update
  package.json
  pnpm-lock.yaml
  website/misc/node-hono/entry.ts
  website/misc/vercel-serverless/entry.ts
  website/package.json
Due: eslint, prettier

chore: dependencies update
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,cjs,mjs,ts,tsx}
  prettier: any of: *.{js,jsx,cjs,mjs,ts,tsx,json,html,css,yml}
